<h1><%= @user.name %>, Um evento foi apagado!</h1>
 
Quem apagou: <%= @current.name %>
<br>
Criador do evento: <%= @event.user.name %>
<br>
O antigo horário era: <%= @event.start %> - <%= @event.end %>