<h1><%= @user.name %>, Um evento mudou de horário!</h1>
 
Quem alterou: <%= @current.name %>
<br>
Criador do evento: <%= @event.user.name %>
<br>
O novo horario é: <%= @event.start %> - <%= @event.end %>